.cmz-select .fl{
  float: left;
}
.cmz-select{
  position: relative;
  min-height: 26px;
  height: 100%;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}
.cmz-select ul{
  list-style: none;
  padding: 0;
}
.cmz-select input{
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  min-height: 26px;
  background-color: rgba(0, 137, 217, .1);
  border: 2px solid rgb(0, 137, 217);
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  padding: 0 10px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  position: absolute;
  line-height: 1.8em;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.cmz-select input:hover {
  border: 2px solid rgb(0, 161, 253);
  box-shadow: 0 0 3px rgb(0, 94, 255),0 0 3px rgb(0, 94, 255),0 0 3px rgb(0, 94, 255),0 0 3px rgb(0, 94, 255);
}
.cmz-select input:focus {
  border-color: #409eff;
}
.cmz-select input::-webkit-input-placeholder {
  color: #dcdfe6;
}
.cmz-select input::-moz-placeholder {
  color: #dcdfe6;
}
.cmz-select input:-ms-input-placeholder {
  color: #dcdfe6;
}
.cmz-select ul {
  display: none;
  color: #dcdfe6;
  font-size: 14px;
  background-color: rgba(0, 34, 54, 0.9);
  border: 2px solid rgb(0, 137, 217);
  position: absolute;
  overflow: hidden;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  max-height: 150px;
  overflow-y: auto;
  z-index: 10001;
  margin-top: 8px;
}
.cmz-select ul.listT {
  text-align: center;
  color: #999;
  font-size: 14px;
}
.cmz-select ul li {
  line-height: 34px;
  overflow: hidden;
  padding: 0 10px;
  cursor: pointer;
}
.cmz-select ul li.on {
  background-color: rgb(0, 89, 141);
  color: #f5f7fa;
}
.cmz-select ul li.selected {
  color: #409eff;
  font-weight: bold;
}
.cmz-select .inputImg {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  /* IE 9 */
  -moz-transform: translateY(-50%);
  /* Firefox */
  -webkit-transform: translateY(-50%);
  /* Safari 和 Chrome */
  -o-transform: translateY(-50%);
  /* Opera */
  color: #dcdef6;
  cursor: pointer;
  z-index: 999;
}
.cmz-select .delImg:hover {
  color: #ccc;
}
.cmz-select .delImg:hover + .cmz-input {
  border-color: #c0c4cc;
}
.cmz-select .arrowIcon {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari and Chrome */
  -o-transition: all 0.3s;
  /* Opera */
}
.cmz-select .arrowIcon.selected {
  transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  /* IE 9 */
  -moz-transform: translateY(-50%) rotate(-180deg);
  /* Firefox */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  /* Safari 和 Chrome */
  -o-transform: translateY(-50%) rotate(-180deg);
  /* Opera */
}
.cmz-select .hide {
  display: none;
}
